#current-card{
    
    display: none;
}

#card-img{
    
}

#user-hit #user-hit2 #user-hit3 #user-hit4{
   
}

#show{
    float: right;
}

#dealer-hand{
    display: none;
    float: right;
    
}

#hand-value{
    
}

#robo-image{
    float: right;
}