#current-card{
    float: right;
    display: none;
}

#card-img{
    float: right;
}

#user-hit #user-hit2 #user-hit3 #user-hit4{
    float: right;
}

#show{
    float: right;
}

#dealer-hand{
    display: none;
}

#hand-value{
    float: right;
}